<style type="text/css">

body {
  font-family: verdana, arial, helvetica, serif;
}


#banner {
  padding: 10px 0 0 60px;
}


#menu {
  padding: 15px 0 0 20px;
}


#content {
  clear: both;
  padding: 10px 0 0 20px;
  line-height: 2em;
}


.right {
  float: right;
  margin-right: 80px;
}


.last {
  color: red;
  font-size: small;
}

</style>
