body {
    font-family: arial, verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

@media (prefers-color-scheme: dark) {
    background: black;
}

@media (prefers-color-scheme: light) {
  html {
    background-color: white;
  }
}

header {
    text-align: center;
    margin: 5px;
}

nav {
    text-align: center;
    /*background-color: #333;*/
}

nav a {
    padding-top:16px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 5px;
    text-decoration: none;
    /*vertical-align: bottom;*/
    /*border: 1px solid black;*/
}

nav a:hover {
    background-color: #ddd;
}

nav a.current{
    background-color: #ddd; /*#4CAF50;*/
}

nav a svg{
    width: 30px;
    height: 30px;
}

.spansvg {
    display: inline-block;
}

#graph{
    text-align: center;
}

.svg{
    font-size: 1rem;
}

fieldset{
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    /*border-radius: 1rem;*/
    margin: 0.5rem;
    border: 0;
}

.label{
    text-align: left;
}
.value{
    text-align: right;
}
.text{
    text-align: right;
    float: right;
}

fieldset span{
    margin: 0.1rem;
}

.unit{
    text-align: left;
    float: right;
    width: 2rem;
    margin-left: 1rem;
}

fieldset span input[type="number"], select {
    width: 6rem;
    min-width: 5rem;
    max-width: 10rem;
    /*border: none;*/
    float: right;
    font-size: inherit;
    font-family: inherit;
    padding: none;
    box-sizing:border-box;
    text-align-last: right; 
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        font-size: 5vw;
    }
    #graph{
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        font-size: 2.5vw;
    }
    h3{
        text-align: center;
    }
    #calculationTable {
        display: flex;
    }

    div fieldset{
        flex-basis: 0;
        flex-grow: 1;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        font-size: 20px;
        max-width: 700px;
    }
}